<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Download Videos</title>
        <link href="style.css" rel="stylesheet"/>

    </head>
    <body>
        <div class="dark-mode" id="btn">
            <span id="btnText">Dark</span>
            <img src="images/moon.png" width="16px" height="16px" id="btnIcon"> 
          </div>
        
        <h1>Download Youtube Videos</h1>
        <form action="/" method="post">
        <label>Enter Link<input class='link' type="text" placeholder="URL"> </label>
        <input type="submit" class="submit" >
        </form>
        
    </body>







</html>

